{% extends "../app_web/base_bootstrap.html" %}
{% load static %}
{% block title %}Tutorials Home{% endblock title %}
{% block content %}
{% include "../app_web/top_level_menu.html" %}
<div class="container-fluid">    
    <h1>Tutorials Home</h1>
    <!-- tabular column / matrix design -->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
               <thead>
                    <tr>
                        <th>Topic/Progress</th>
                        <th>Introduction</th>
                        <th>Foundations</th>
                        <th>Examples</th>
                        <th>Projects</th>
                    </tr>
               </thead>
               <tbody>
                    <tr>
                        <td>
                            <b>Python</b>
                        </td>
                        <td>
                            <a href="{% url 'display_md_topic' 'python_intro' %}">Python Introduction</a>
                        </td>
                        <td>
                            <a href="{% url 'display_md_topic' 'python_foundations' %}">Python Foundations</a>
                        </td>
                        <td>
                            <a href="{% url 'display_md_topic' 'python_strings' %}">Python Strings</a><br>
                            <a href="{% url 'display_md_topic' 'python_functions' %}">Python Functions</a><br>
                            <a href="{% url 'display_md_topic' 'python_file_io' %}">Python File I/O</a><br>
                        </td>
                        <td>
                            <a href="{% url 'display_md_topic' 'python_projects' %}">Python Projects</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Django Web Framework</b>
                        </td>
                        <td>
                            <a href="{% url 'display_md_topic' 'django_intro' %}">Django Introduction</a>
                        </td>
                        <td>
                            <a href="{% url 'django_course1'  %}">Django's Foundation Course </a>
                        </td>
                        <td>
                            <a href="{% url 'display_md_topic' 'django_simple_app' %}">Django: Create a simple app</a>
                        </td>
                        <td>                             
                            <a href="{% url 'display_md_topic' 'django_blog' %}">Django: Create a Blog app</a><br><br>
                            <a href="{% url 'display_md_topic' 'django_website_sample' %}">Django: Create a website</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Django REST API Framework</b>
                        </td>
                        <td>
                            <a href="{% url 'display_md_topic' 'django_rest_api' %}">Django: REST API Introduction</a>
                        </td>
                        <td>
                            <a href="{% url 'display_md_topic' 'django_rest_api_foundations' %}">Django: REST API Foundations</a>
                        </td>
                        <td>
                            <a href="{% url 'display_md_topic' 'django_rest_api_crud' %}"> Django REST API Framework CRUD Example</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Git</b>
                        </td>
                        <td>
                            <a href="{% url 'display_md_topic' 'git_intro' %}">Git Introduction</a>
                        </td>
                        <td>
                            <a href="{% url 'display_md_topic' 'git_basics' %}">Git Basics</a>
                        </td>
                        <td>
                            <a href="{% url 'display_md_topic' 'git_examples' %}">Git Examples</a>
                        </td>
                        <td>
                            <a href="{% url 'display_md_topic' 'git_examples' %}">Git Projects</a>
                        </td>
                    </tr>
               </tbody>
            </table>
        </div>
    </div>   
</div>
{% endblock content %}