{% extends "../app_web/base_bootstrap.html" %}
{% load static %}
{% load custom_filters %}
{% load markdown_extras  %}
{% block title %}{{topic}} Tutorials{% endblock title %}
{% block content %}
{% include "./_style_markdown_content.css" %}
<div class="container-fluid">
<!-- display the top level menu only for topics, and not for sub_topics which are loaded on pane -->
{% if sub_topic == False %}{% include "../app_web/top_level_menu.html" %}{% endif %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="markdown-content">
                {{html_content|markdown|safe}}
            </div>   
        </div>
        <div class="col-md-2"></div>
    </div>       
</div>
{% include "./_js_markdown_content.js" %}
{% endblock content %}